<h1>Application:</h1>
<h4 class="pb-4">
  First, fill out some personal information! Then, proceed to making a
  team and adding team members (up to 4)!
</h4>
<form action="/application" , method="POST">

  <div class="form-group">
  <label for="university">University Name</label><br />
  <select id="university" name="university" class="form-control" required onchange="showOtherUniversityField()">
    <option value="" disabled selected style="display: none;">Select your university (Dropdown)</option>
    <option value="Northeastern University">Northeastern University</option>
    <option value="UC Berkeley">UC Berkeley</option>
    <option value="Stanford University">Stanford University</option>
    <option value="San Francisco State University">San Francisco State University</option>
    <option value="University of Santa Clara">University of Santa Clara</option>
    <option value="San Jose State University">San Jose State University</option>
    <option value="College of Alameda">College of Alameda</option>
    <option value="University of San Francisco">University of San Francisco</option>
    <option value="California College of the Arts">California College of the Arts</option>
    <option value="San Francisco Art Institute">San Francisco Art Institute</option>
    <option value="San Francisco Conservatory of Music">San Francisco Conservatory of Music</option>
    <option value="California State University, East Bay">California State University, East Bay</option>
    <option value="Holy Names University">Holy Names University</option>
    <option value="Samuel Merritt University">Samuel Merritt University</option>
    <option value="Saint Mary's College of California">Saint Mary's College of California</option>
    <option value="Golden Gate University">Golden Gate University</option>
    <option value="Community College">Community College</option>
    <option value="other">Other</option>
  </select>
  <input type="input" id="other_university" name="other_university" placeholder="Please specify" class="form-control mt-2" style="display:none;" />
</div>

  <div class="form-group">
    <label for="university_email">University Email (must end in .edu)</label><br />
    <input type="input" id="university_email" name="university_email" placeholder="doe.john@university.edu"
      class="form-control" /><br />
  </div>

  <div class="form-group mt-4">
  <label for="phone_number">Phone Number</label><br />
  <input type="tel" id="phone_number" name="phone_number" 
         pattern="\+?\d{10,15}" 
         placeholder="+1234567890" 
         class="form-control" 
         required 
         oninput="validatePhoneNumber(this)" 
         title="Phone number should be 10-15 digits and may include a leading '+'">
</div>

<div class="form-group mt-4">
    <label for="gender">Gender</label><br />
    <select id="gender" name="gender" class="form-control" required onchange="showOtherGenderField()">
      <option value="" disabled selected style="display: none;">Select your gender (Dropdown)</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="nonbinary">Nonbinary</option>
      <option value="other">Other</option>
    </select>
    <input type="input" id="other_gender" name="other_gender" placeholder="Please specify" class="form-control mt-2"
      style="display:none;" />
  </div>

  <div class="form-group mt-4">
    <label for="race">Race</label><br />
    <select id="race" name="race" class="form-control" required>
      <option value="" disabled selected style="display: none;">Select your race (Dropdown)</option>
      <option value="american_indian">American Indian</option>
      <option value="asian">Asian</option>
      <option value="african_american">African American</option>
      <option value="pacific_islander_hawaiian">Pacific Islander/Hawaiian</option>
      <option value="caucasian">Caucasian</option>
      <option value="more_than_one">More Than One Race</option>
      <option value="other">Other</option>
    </select>
  </div>

  <!-- Shirt Size Field -->
  <div class="form-group mt-4">
    <label for="shirt_size">Shirt Size</label><br />
    <select id="shirt_size" name="shirt_size" class="form-control" required>
      <option value="" disabled selected style="display: none;">Select your shirt size (Dropdown)</option>
      <option value="small">Extra Small</option>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
      <option value="extra_large">Extra Large</option>
    </select>
  </div>

  <div class="form-group mt-5">
    <label for="hackathon_experience">What is your experience so far with hackathons?</label><br />
    <input type="input" id="hackathon_experience" name="hackathon_experience" placeholder="No experience"
      class="form-control" /><br />
  </div>

  <div class="form-group mt-3">
    <div class="form-check form-check-inline">
      <label for="over_18">Will you be 18 or older by the start of the hackathon?</label><br />
      <fieldset>
        <legend></legend>
        <label for="over_18">Yes:</label>
        <input type="radio" id="over_18" name="over_18" value="true" required />
    </div>

    <div class="form-check form-check-inline">
      <label for="over_18">No:</label>
      <input type="radio" id="over_18" name="over_18" value="false" required />
      </fieldset>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      <label for="have_id">Do You Have a College Issued ID?</label><br />
      <fieldset>
        <legend></legend>
        <label for="id_yes">Yes:</label>
        <input type="radio" id="id_yes" name="have_id" value="true" required />
    </div>

    <div class="form-check form-check-inline">
      <label for="id_no">No:</label>
      <input type="radio" id="id_no" name="have_id" value="false" required />
      </fieldset>
    </div>
  </div>

  <div class="form-group mt-5">
    <p>
      By clicking the submit button on this page or creating and joining teams on the application page, I agree to the following:
    </p>
    <ul>
      <li>I have read and agree to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a>.</li>
      <li>I authorize you to share my application/registration information with Major League Hacking for event administration, ranking, and MLH administration in-line with the <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>. I further agree to the terms of both the <a href="https://github.com/MLH/mlh-policies/blob/main/contest-terms.md" target="_blank">MLH Contest Terms and Conditions</a> and the MLH Privacy Policy.</li>
    </ul>
    
    <div class="form-check">
    <input class="form-check-input" type="checkbox" id="mlhEmails" name="mlh_sharing_optional" value="1">
    <label class="form-check-label" for="mlhEmails">
      I authorize MLH to send me occasional emails about relevant events, career opportunities, and community announcements. (OPTIONAL)
    </label>
  </div>
</div>

  <div class="">
    <input type="submit" value="Submit" class="btn btn-danger fs-2 w-100" /><br />
</form>


<script>
  function showOtherGenderField() {
    var genderSelect = document.getElementById('gender');
    var otherGenderInput = document.getElementById('other_gender');
    if (genderSelect.value === 'other') {
      otherGenderInput.style.display = 'block';
    } else {
      otherGenderInput.style.display = 'none';
    }
  }
</script>

<script>
function showOtherUniversityField() {
  var universitySelect = document.getElementById('university');
  var otherUniversityInput = document.getElementById('other_university');
  if (universitySelect.value === 'other') {
    otherUniversityInput.style.display = 'block';
  } else {
    otherUniversityInput.style.display = 'none';
  }
}
</script>

<script>
  function validatePhoneNumber(inputField) {
    const validFormat = /^\+?\d*$/; // Only digits and an optional leading +
    let value = inputField.value;
    if (!validFormat.test(value)) {
      inputField.value = value.slice(0, -1); // Remove the last invalid character
    }
  }
</script>

<style>
/* Additional styles */
option[disabled] {
  color: grey;
}

/* Style for links inside text */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
</style>
