<h1>Application</h1>
<h3>First, fill out some personal information! Then, proceed to making a team and adding team members (up to 4)!</h3>
<form action='/application', method="POST">
    <label for="university">University</label><br>
    <input type="input" id="university" name="university" placeholder="Enter Your University (ie: Northeastern University)"><br>

    <label for="phone_number">Phone Number</label><br>
    <input type="input" id="phone_number" name="phone_number" placeholder="123-456-7890"><br>

    <input type="submit" value="Submit"><br>
</form>