<!-- refer.hbs -->
<h1><b>Refer a Friend</b></h1>
<form action="/refer" method="POST">
  Registration is currently closed. You cannot update your application. If your
  application is not yet complete, you cannot join/create your team.
</form>