<h1>Login or Register</h1>
<h3 class="pt-4">
  First, login or sign up with Google! (you will enter university email later).
</h3>

<button onclick="location.href='/auth/google'" class="btn btn-danger mt-4 mb-4 col-12 col-sm-12 col-md-6 col-lg-3">
  <img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" class="bg-white rounded-circle p-1 mx-1" width="38"></img>
  <b>Sign Up</b> with Google
</button>
<br/>
<button onclick="location.href='/auth/google'" class="btn btn-danger mb-4 col-12 col-sm-12 col-md-6 col-lg-3">
  <img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" class="bg-white rounded-circle p-1 mx-1" width="38"></img>
  <b>Log in</b> with Google
</button>